<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>
            <h3 class="titulo">Adicionar Producto</h3>
            
            <form method="post" action="/products/create" class="formRegistro" enctype="multipart/form-data" >
                
                <label for="name" class="labelForm">Nombre del Producto</label>
                <!-- product name error -->
                <% if(locals.errors && errors.name){ %>
                    <div style="color: red;">
                        <%= errors.name.msg %>
                    </div>
                <% } %>
                <input type="text" class="inputRegistro" name="name" id="name" value="<%= locals.oldData ? oldData.name : null %>" >
                
                <label for="description" class="labelForm">Descripción</label>

                <!-- product description error -->
                    <% if(locals.errors && errors.description){ %>
                        <div style="color: red;">
                            <%= errors.description.msg %>
                        </div>
                    <% } %>
                <input type="text" class="inputRegistro" name="description" id="description" value="<%= locals.oldData ? oldData.description : null %>">
                
                <label for="image" class="labelForm">Foto del Producto</label>
                    <!-- product image error -->
                    <% if(locals.errors && errors.image){ %>
                        <div style="color: red;">
                            <%= errors.image.msg %>
                        </div>
                    <% } %>
                <input type="file" class="inputRegistro" name="image" id="product-image" >
                
                <label for="category" class="labelForm">Categoría</label>
                    <!-- product category error -->  
                    <% if(locals.errors && errors.category){ %>
                        <div style="color: red;">
                            <%= errors.category.msg %>
                        </div>
                    <% } %>
                <input type="radio" name="category" value="dogFood" value="<%= locals.oldData ? oldData.category : null %>">Perro</label>
                <input type="radio" name="category" value="catFood" value="<%= locals.oldData ? oldData.category : null %>">Gato</label>


                <label for="price" class="labelForm">Precio</label>
                    <!-- product price error -->
                    <% if(locals.errors && errors.price){ %>
                        <div style="color: red;">
                            <%= errors.price.msg %>
                        </div>
                    <% } %>
                <input type="text" class="inputRegistro" name="price" id="price" value="<%= locals.oldData ? oldData.price : null %>" >

                <div class="buttonContainer">
                    <button type="submit">Agregar</button>
                </div>
            </form>
        </main>

        <%- include('../partials/footer.ejs') %>
    </body>
</html>
