<section class="section-productos-destacados">
    
    <% if(title) { %>
        <h2><%- title %></h2>
        <button class="boton-filtrar-productos">Filtrar</button>    
    <% } %>

    <div class="cards-productos">
        <% products.forEach(product=> {%>
            <article>
                <div class="imagen-producto-destacado-container">
                    <a href="/products/<%= product.id %>"><img src="<%= product.imagen %>">
                        <img class="imagen-producto-destacado" src="/images/<%= product.image %>"
                            alt="<%= product.description%>">
                    </a>
                </div>
                <div class="cards-productos-informacion">
                    <p class="cards-precio-producto">
                        $<%= product.price %>
                    </p>
                    <p class="cards-descripcion-producto">
                        <%= product.name %>
                    </p>
                </div>
                <div class="cards-product-actions">
                    <% if(locals.userIsAdmin) { %>
                        <a href="/products/<%=product.id%>" class="btn-card-product">Ver</a>
                    <% } else { %>
                        <a href="/products/<%= product.id %>"><button type="button" class="btn-card-product">Detalle</button></a>
                        
                    <% } %>
                </div>
            </article>
        <% }) %>
    </div>
</section>