<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <div class="cart-section">
            <div class="product-list">
                <p class="section-heading">Tu Carrito</p>
                <div class="cart">
                    <!--cart product here-->

                    <% if(!products) { %>
                        <h2>No hay productos en el carrito!</h2>
                        <button class="boton-filtrar-productos">Filtrar</button>    
                    <% } else { %>
                        
                        <% products.forEach(product=> {%>

                            <div class="sm-product">
                                <img src="/images/<%= product.image %>" class="sm-product-img" alt="<%= product.description%>">
                                <div class="sm-text">
                                    <p class="sm-product-name"><%= product.name %></p>
                                    
                                </div>
                                <div class="item-counter">
                                    <button class="counter-btn decrement">-</button>
                                    <p class="item-count">1</p>
                                    <button class="counter-btn increment">+</button>
                                </div>
                                <p class="sm-price">$<%= product.price %></p>
                                <button class="sm-delete-btn"><img src="/images/close.png" alt="delete button"></button>
                            </div>



                        <% }) %>    
                    <% } %>   
                
                </div>
                
            </div>
            <div class="checkout-section">
                <div class="checkout-box">
                    <p class="text">TOTAL</p>
                    <h3 class="bill">$00</h3>
                    <a href="/checkout" class="checkout-btn">Pagar</a>
                </div>
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
