<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs') %>
    <body>
        <%- include('../partials/header.ejs') %>
        <main>

            <div class="formRegistro" style="text-align: center;">
                <h1>Bienvenido a su Perfil</h1>
                <br>
                <h2> <%= userLogged.full_name %></h2>
                <br>
                <div style="width: 100%; ">
                    <img style="width: 50%; border-radius: 20%;" src="/images/users/<%= userLogged.userImage %> %>" alt="userLogged.userImage">
                </div>
                
            </div>
        </main>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>
